body {
  background: rgba(0, 0, 0, 0.856);
}

.buttonDiv {
  display: flex;
  justify-content: center;
  margin-top: 15%;
}

.likeButton {
  width: 700px;
  height: 250px;
  display: inline-block;
  font-size: 60px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: rgb(82, 80, 80);
  background-color: #4caf50;
  border-radius: 15px;
  box-shadow: 9px 8px rgb(90, 89, 89);
}
